{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Strona główna{% endblock %}

{% block content %}
    <div class="container">
        <div class="card mt-5">
            <div class="card-body">
                Za pomocą naszego serwisu wgrasz zdjęcia i zapiszesz je w swojej bibliotece zdjęć.
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 d-flex align-items-center justify-content-center">
                <div class="d-flex mt-5">
                    <div class="d-flex flex-column mb-4">
                        <h1 class="text-center mb-4 h4">Wgrywaj dowolne zdjęcia!</h1>
                        {{ form_start(form, {'attr': {'class': 'd-flex flex-column mb-4'}}) }}
                            {{ form_widget(form.filename) }}
                            <div class="align-self-center">
                                {{ form_row(form.is_public, {'label_attr': {'class': 'font-weight-bold mt-4 mb-5 ml-2 mr-2'}}) }}
                            </div>
                            <input type="submit" value="Wyślij" class="form-control btn btn-success w-50 align-self-center" />
                        {{ form_end(form) }}

                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}

                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 mt-4">
                <img src="{{ asset('assets/images/demo.jpg') }}" class="img-fluid" />
            </div>
        </div>


        <div class="card mt-5">
            <div class="card-header">
                Panel użytkownika
            </div>
            <div class="card-body">
                <h5 class="card-title">Załóż darmowe konto już teraz</h5>
                <p class="card-text">Wgrywaj setki zdjęć za darmo i miej je zachowane na zawsze</p>
                <a href="#" class="btn btn-primary">Załóż konto</a>
            </div>
        </div>


        <div class="row mt-5 mb-5" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="col-sm-4">
                <div class="d-flex flex-column align-items-center">
                    <div><img src="{{ asset('assets/images/1.png') }}" class="img-fluid"/> </div>
                    <div style="font-size: 24px;">Wgrywaj swoje zdjęcia</div>
                    <p class="mt-3 text-center">Wgrywaj swoje zdjęcia bez limitu. Używaj zgodnych formatów plików zdjęciowych</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-flex flex-column align-items-center">
                    <div><img src="{{ asset('assets/images/2.png') }}" class="img-fluid"/> </div>
                    <div style="font-size: 24px;">Darmowe konto użytkownika</div>
                    <p class="mt-3 text-center">Załóż darmowe konto i korzystaj z niego bez limitu. Twoje zdjęcia, twoje dane.</p>
                </div></div>
            <div class="col-sm-4">
                <div class="d-flex flex-column align-items-center">
                    <div><img src="{{ asset('assets/images/3.png') }}" class="img-fluid"/> </div>
                    <div style="font-size: 24px;">Wpływ na rozwój serwisu</div>
                    <p class="mt-3 text-center">Miej duży wpływ na rozwój serwisu przy wgrywaniu zdjęć. Wszystko co wgrywasz publicznie ma znaczenie.</p>
                </div>
            </div>

        </div>
    </div>

    <section class="bg-dark" style="height: 100%">
        <div class="container text-white">
            <h3 class="text-center text-white h1 font-weight-lighter" style="padding-top: 120px;">Dane w chmurze</h3>
            <p class="pt-5 pb-5 font-weight-lighter text-center">Twoje zdjęcia będą dostępne w chmurze dopóki ich nie usuniesz. Pamiętaj, że masz do nich dostęp z każdego miejsca na ziemi. Po zalogowaniu się masz pełny dostęp do swoich danych oraz zdjęć.</p>
            <div class="row pt-5" style="padding-bottom: 120px;">

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>1. Zarejestruj się</h4>
                                <span>Najpierw załóż konto w serwisie</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>2. Zaloguj się</h4>
                                <span>Nastepnie zaloguj się podanymi danymi podczas rejestracji</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>3. Dodaj zdjęcie</h4>
                                <span>Dodaj prywatne lub publiczne</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>4. Oglądaj zdjęcia</h4>
                                <span>Oglądaj wszystkie publiczne zdjęcia lub swoje prywatne</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

{% endblock %}
