{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Strona główna{% endblock %}

{% block content %}
<div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        <h1 class="mt-5 mb-4 h4">Najnowsze zdjęcia</h1>

        <div class="mt-5">
            <div class="row">
                {% for photo in myPhotos %}
                    <div class="col-sm-12 col-lg-4">
                        <div class="card-deck">
                            <div class="card d-flex justify-content-between">
                                <div class="imageGallery1">
                                    <a href="/images/hosting/{{ photo.filename}}"><img src="/images/hosting/{{ photo.filename}}" class="card-img-top" alt=""></a>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Wysłano: {{ photo.uploadedAt|date('d.m.Y H:i:s')}}</small>
                                    <small class="text-muted">Dodał: {{ photo.user.username}}</small>
                                    <p>
                                        {% if photo.user == app.user %}
                                            <a href="{{ path('my_photos_remove', {'id': photo.id}) }}" class="badge badge-danger">Usuń</a>   
                                            {% if photo.isPublic == '1' %}
                                                <a href="{{ path('my_photos_set_as_private', {'id': photo.id}) }}" class="badge badge-primary">Ustaw prywatne</a>
                                            {% else %}
                                                <a href="{{ path('my_photos_set_as_public', {'id': photo.id}) }}" class="badge badge-success">Ustaw publiczne</a>
                                            {% endif %}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}